.Container {
  text-align: center;
}
.chatInput {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  padding: 10px;
  color: black;
  margin-right: 10px;
}

.chatInput:focus{
  border: 1.5px solid rgb(180, 180, 180);
}

.chatButton {
  padding: 10px 20px;
  background-color: #323550;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.messageScreen {
  width: 90%;
  height: 58vh;
  margin: 10px auto 30px auto;
  border-radius: 5px;
  overflow-y: auto;
}

.messageContainer {
  padding: 8px;

  margin-right: 5%;

  min-width: 120px;
  border-radius: 5px;
  max-width: 50%;
  text-align: left;
}

.messageContainer > p {
  margin-bottom: 0px;
}

.self {
  float: right;
  background-color: #3bbfff;
  color: #fff;
}

.others {
  float: left;
  background-color: aliceblue;
  color: #323550;
}

.userName {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: -1%;
  max-width: 50%;
}

.divider {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 24px 0;
}
