.projectContainer {
  background-color: transparent;
  padding: 10px 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 0fr));
  height: 70vh;
  overflow-y: auto;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  justify-content: center;
}

.projectContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 5px;
  background-color: #f1f2f9;
  height: 50px;
}

.projectContainer::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.projectContainer::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: none;
  background-color: #9ca8ff;
  height: 50px;
}

.Card {
  background-color: #fff;
  color: #323500;
  width: 260px;
  height: 200px;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1.5fr 2fr auto;
  padding: 15px 20px;
  transition: 0.5s ease-in;
  box-shadow: 4px 5px 9px #dee2fe00, -1px 0px 9px #dee2fe73;
}

.Card:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.cardMid {
  color: #484848;
}

.cardFooter {
  /* #9ca8ff */
  color: #7989ff;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 20px;
}
.cardFooterLeft {
  color: #ff6952;
}
.cardFooterRight {
  display: flex;
  align-items: flex-end;
  color: #ffd746;
}

.newProject {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #272727;
}

.addProjectModal {
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  border: 0.5px solid #cdcdcd;
}

.Sidebar {
  color: #e7e6e8;
  height: 100vh;
  background: #ffffff;
  border: 1px solid #ffffff;
  width: 220px;
  /* border-radius: 5px; */
  /* text-align: center; */
  padding: 30px 0px;
  display: grid;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  transition: 0.3s ease-in-out;
  /* box-shadow: 6px 0px 10px #e4edff; */
}

.userSideBar {
  position: fixed;
  width: 100px;
  padding: 30px 10px;
  grid-template-rows: 1fr 5fr 1fr;
}

.Header {
  padding: 1rem 0 2rem 0;
  font-size: 22px;
  display: grid;
  grid-template-columns: 1fr auto;
}
.Main {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 40px;
}
.userMain {
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 40px;
}
.SidebarTop {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.SidebarMid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  /* align-items: center; */
}

.SidebarBottom {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.SidebarContainer {
  width: 90%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.sidebarHeader {
  font-size: 30px;
  color: #000;
  margin-left: 25px;
}

.dropDown {
  border-radius: 15px;
  margin: 5vh auto;
  width: 85%;
  padding: 10px 20px;
  box-shadow: 4px 5px 9px #dee2fe00, -1px 0px 9px #dee2fe73;
  background: #ffffff;
  font-size: 18px;
  letter-spacing: 1px;
}

.dropDownHeader {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.searchHeader {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
}

.inputSearchHeader {
  font-size: 14px;
  border: 0px;
  width: 280px;
  margin-right: 10px;
}
