.projectContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
  height: 80vh;
  overflow-y: auto;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}

.Card {
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-radius: 10px;
  position: relative;
  transition: 0.5s ease-in;
}

.Card:hover {
  cursor: pointer;
}

.newProject {
  position: absolute;
  top: 75px;
  font-size: 25px;
  left: 40px;
}

.addProjectModal {
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
  border: 0.5px solid #cdcdcd;
}

.Sidebar {
  height: 80vh;
  background: #fff;
  border: 1px solid #3b78f8;
  width: 80px;
  border-radius: 15px;
  text-align: center;
  padding: 30px 0px;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  transition: 0.3s ease-in-out;
}

.Header {
  padding: 1rem 0 2rem 0;
  font-size: 22px;
  display: grid;
  grid-template-columns: 1fr auto;
}
.Main {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 40px;
}
.SidebarTop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SidebarMid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SidebarBottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SidebarContainer {
  width: 90%;
  display: grid;
  grid-template-columns: auto 1fr;
}

.searchHeader {
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
}

.inputSearchHeader {
  font-size: 14px;
  border: 0px;
  margin-right: 10px;
}
