.CreateProject > input {
  width: 260px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.Card {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 6px 9px 12px #dee9ffbf;
  position: relative;
  transition: 0.5s ease-in;
}

.Card:hover {
  cursor: pointer;
}

.newProject {
  position: absolute;
  top: 75px;
  font-size: 25px;
  left: 40px;
}

.Sidebar {
  height: 80vh;
  background: #c3d1ee47;
  width: 80px;
  border-radius: 20px;
  text-align: center;
  padding: 30px 0px;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}

.Header {
  padding: 1rem 0 2rem 0;
  font-size: 24px;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.Main {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 20px;
}
.SidebarTop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SidebarMid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SidebarBottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
