.colorSize {
  color: #323350;
  font-size: 28px;
  cursor: pointer;
}

.extra {
  color: #323350;
  font-size: 22px;
  cursor: pointer;
}

.text {
  font-size: 18px;
  margin-left: 15px;
  color: #323350;
}

.button {
  font-size: 16px;
  font-weight: 100px;
  padding: 15px 25px;
  background: #3bbfff;
  width: fit-content;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 3px 5px 16px #a4e2ff;
  transition: 0.5s ease;
}
.extraPadding {
  padding: 10px 10px 6px 10px;
}
.button:hover {
  box-shadow: 3px 5px 16px #93d9fa;
}
