.heading {
  font-size: 48px;
  padding: 0rem 0 1rem 0;
}

.dot {
  color: #3b78f8;
  font-size: 72px;
}
.inputContainer {
  margin: 20px 0px;
}
.inputBox {
  font-size: 15px;
  padding: 12px 12px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  width: 280px;
  margin-left: 5px;
}

.signUP {
  width: 280px;
  background-color: #030303;
  color: #e7e6e8;
  padding: 15px 15px;
  border: none;
  letter-spacing: 2px;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.label {
  font-size: 14px;
  letter-spacing: 1px;
  margin: 5px 0px;
}
